.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(214, 214, 214);
}

.signup-form-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 30rem;
    width: 30rem;
    border-radius: 1rem;
    padding: 3rem 2rem; 
    background-color: white;
    justify-content: space-between;
}

.signup-form-row {
    display: flex;
}
.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2
}

.signup-form-username {
    width: 100%;
    height: max-content;
}
.signup-form-password {
    height: max-content;
    display: flex;
    flex-direction: column;
    width: 100%;
} 


.signup-form-username > input {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 0 1rem;
    outline: none;
    background-color: rgb(212, 212, 212);

}
.signup-form-username > label {
    font-size: .7rem;
    color: gray;
}

.signup-form-password > input {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 3rem;
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 0 1rem;
    outline: none;
    background-color: rgb(212, 212, 212);

}
.signup-form-password > label {
    font-size: .7rem;
    color: gray;
    
}
.signup-form > div > label {
    font-size: .7rem;
    color: gray;
}

.signup-form-checkUniqueButton {
    background-color: rgba(102, 149, 236, 0.514);
    color: white;
    cursor: pointer;
    align-self: flex-end;
    border: none;
    border-radius: .8rem;
    outline: none;
    height: 3rem;
    width: 3rem;
}
.signup-form-checkUniqueButton:hover {
    cursor: pointer;
}
.signup-form-button {
    background-color: rgba(102, 149, 236, 0.514);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    border-radius: 1rem;
    height: 3rem;
}

.signup-form-linkToSignup {
    margin-top: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

.signup-form-linkToSignup > * {
    text-decoration: none;
    color: gray;
}