.memoViewMemoList-container {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    width : 12rem;
    overflow-y: auto;
}

.memoViewMemoList-container::-webkit-scrollbar {
    width: 5px;
    background-color: #aaa;
}

.memoViewMemoList-container::-webkit-scrollbar-thumb {
    background: #000;
}